.cabeçalho {
    background-color: #757899;
    display: flex;
    justify-content: space-evenly;
    padding-top: 05px;
    margin: 0 auto;
}

.Título {
    color: antiquewhite;

}

header .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}